.App {
  text-align: center;
}

.nupp {

color: white;
background-color: black;

}

.nupp:hover
{

  cursor: pointer;
  background-color: chocolate;


}

.nupp:active 
{

  text-decoration: underline;

}

.pilt {

/* width: 100px; */
height: 150px;
border-radius:10px;
}

.pilt:hover{
opacity: 70%;
cursor: pointer;
}

.pilt:active{
  transform: scale(0.95);
}